html, body {
  /* Home */
  position: relative;
  height: 100%;
  background: linear-gradient(180deg, rgba(154, 57, 229, 0.62) 0%, rgba(229, 192, 57, 0.3162) 100%);
}

/* Background Image */
/* .background-img {
  position: relative;
  left: -29.33%;
  right: 49.87%;
  top: 20.24%;
  bottom: -3.45%;
} */
